<div class="max-w-3xl m-auto pb-5">
  <div class="text-2xl mb-5 mt-5">Enrollments <button class="ml-5" (click)="getResults()" mat-flat-button>Get Results</button> </div>

  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="studentName">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.studentName}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="studentGrade">
        <th mat-header-cell *matHeaderCellDef> Grade </th>
        <td mat-cell *matCellDef="let element"> {{element.studentGrade}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> Course </th>
        <td mat-cell *matCellDef="let element"> {{element.courseName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="courseMaxStudents">
        <th mat-header-cell *matHeaderCellDef> Max Students </th>
        <td mat-cell *matCellDef="let element"> {{element.courseMaxStudents}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

</div>
