<div class="max-w-3xl m-auto pb-5">
  <div class="text-2xl mb-5 mt-5">Enrollments
    <button (click)="getResults()" class="ml-5" mat-flat-button>Get Results</button>
  </div>

  <div class="mat-elevation-z8">

    <table [dataSource]="dataSource" mat-table>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="studentName">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{ element.studentName }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="studentGrade">
        <th *matHeaderCellDef mat-header-cell> Grade</th>
        <td *matCellDef="let element" mat-cell> {{ element.studentGrade }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="courseName">
        <th *matHeaderCellDef mat-header-cell> Course</th>
        <td *matCellDef="let element" mat-cell> {{ element.courseName }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="courseMaxStudents">
        <th *matHeaderCellDef mat-header-cell> Max Students</th>
        <td *matCellDef="let element" mat-cell> {{ element.courseMaxStudents }}</td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>

  </div>

</div>
