<div class="text-2xl text-center mt-5 mb-5">EditCourse</div>
<form (ngSubmit)="submit()" [formGroup]="form">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Max Students Allowed</mat-label>
    <input formControlName="maxStudentsAllowed" matInput type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Year of study</mat-label>
    <input formControlName="yearOfStudy" matInput type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select formControlName="dayOfWeek">
      <mat-option value="monday">Monday</mat-option>
      <mat-option value="tuesday">Tuesday</mat-option>
      <mat-option value="wednesday">Wednesday</mat-option>
      <mat-option value="thursday">Thrusday</mat-option>
      <mat-option value="friday">Friday</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Start Hour</mat-label>
    <input formControlName="startHour" matInput type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>End Hour</mat-label>
    <input formControlName="endHour" matInput type="number">
  </mat-form-field>

  <button mat-button routerLink="/admin/courses" type="button">Cancel</button>
  <button mat-flat-button type="submit">Edit</button>
</form>
