<form (ngSubmit)="submit()" [formGroup]="form" class="m-auto">
  <p class="text-xl">Student Registration</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input formControlName="name" matInput type="text">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Study Year</mat-label>
    <input formControlName="study_year" matInput type="number">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Faculty</mat-label>
    <input formControlName="faculty" matInput type="text">
  </mat-form-field>


  <mat-form-field>
    <mat-label>Grade</mat-label>
    <input formControlName="grade" matInput type="number">
  </mat-form-field>


  <button mat-flat-button type="submit">Register</button>
</form>
