
<form class="m-auto" [formGroup]="form" (ngSubmit)="submit()">
  <p class="text-xl">Student Registration</p>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input type="text" formControlName="name" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Study Year</mat-label>
    <input type="number" formControlName="study_year" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Faculty</mat-label>
    <input type="text" formControlName="faculty" matInput>
  </mat-form-field>


  <mat-form-field>
    <mat-label>Grade</mat-label>
    <input type="number" formControlName="grade" matInput>
  </mat-form-field>


  <button type="submit" mat-flat-button>Register</button>
</form>
