<div class="max-w-3xl m-auto">

  <button mat-flat-button routerLink="./add">Add Teacher</button>
  <!-- Loading and error states -->
  <div *ngIf="loading">Loading teachers...</div>
  <div *ngIf="error">{{ error }}</div>

  <!-- Display teacher list in a table -->
  <div class="mat-elevation-z8">
    <table *ngIf="!loading && !error" [dataSource]="teachers" mat-table>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell> ID</th>
        <td *matCellDef="let teacher" mat-cell> {{ teacher.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let teacher" mat-cell> {{ teacher.name }}</td>
      </ng-container>

      <!-- Course Name Column -->
      <ng-container matColumnDef="courseName">
        <th mat-header-cell *matHeaderCellDef> Course </th>
        <td mat-cell *matCellDef="let teacher"> {{ getCourseName(teacher.courseId) }} </td>
      </ng-container>

      <!-- Header and Rows -->
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>


</div>

