<!-- Button to navigate to the add teacher page -->
<button mat-flat-button routerLink="./add">Add Teacher</button>

<!-- Form for adding teacher -->
<form [formGroup]="form" (ngSubmit)="submit()">

  <!-- ID Field -->
  <mat-form-field appearance="fill">
    <mat-label>ID</mat-label>
    <input matInput formControlName="id" type="number">
    <mat-error *ngIf="form.get('id')?.hasError('required')">ID is required</mat-error>
  </mat-form-field>

  <!-- Name Field -->
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
    <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
  </mat-form-field>

  <!-- Course ID Dropdown -->
  <mat-form-field >
    <mat-label>Course</mat-label>
    <mat-select formControlName="courseId">
      <mat-option *ngFor="let course of courses" [value]="course.id">
        {{ course.name }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.get('courseId')?.hasError('required')">Course is required</mat-error>
  </mat-form-field>

  <!-- Submit Button -->
  <button mat-raised-button type="submit" [disabled]="form.invalid">Submit</button>

</form>
