mat-form-field {
  margin-top: 20px;
  margin-left: 20px;
  shape-margin: 20px;
  font-size: medium;

}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px; /* Adjust spacing between buttons */
  margin: 20px;
}



