<div class="max-w-3xl m-auto mt-5">
  <button mat-flat-button routerLink="./add">Add Course</button>

  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input #input (keyup)="applyFilter($event)" matInput>
  </mat-form-field>

  <div class="mat-elevation-z8">

    <table [dataSource]="dataSource" mat-table>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell> Name</th>
        <td *matCellDef="let element" mat-cell> {{ element.name }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="dayOfWeek">
        <th *matHeaderCellDef mat-header-cell> Day</th>
        <td *matCellDef="let element" mat-cell> {{ element.dayOfWeek }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="yearOfStudy">
        <th *matHeaderCellDef mat-header-cell> Year</th>
        <td *matCellDef="let element" mat-cell> {{ element.yearOfStudy }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="maxStudents">
        <th *matHeaderCellDef mat-header-cell> Max Students</th>
        <td *matCellDef="let element" mat-cell> {{ element.maxStudentsAllowed }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let element" mat-cell>
          <button [routerLink]="['./edit', element.id]" mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="onDelete(element.id)" mat-icon-button>
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   aria-label="Select page of periodic elements"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>

